//---------- FEATURES LESS THAN 480px ----------
.features {
  background: #F4F4F4F4;
  padding-top: 30px;
  &__title {
    font-size: 30px;
    color: $lightViolet;
    &--center  {
      display: block;
    }
    &--right  {
      display: none;
    }
  }
  &__container {
    &__item {
      margin-bottom: 7px;
    }
  }
  &__item {
    margin-bottom: 30px;
    &__img {
      margin-bottom: 10px;
    }
    &__title {
      font-size: 12px;
      color: #323232;
    }
    &__content {
      font-size: 11px;
      color: #848e97;
    }
  }
}

//---------- FEATURES 481px AND UP ----------
@media (min-width: 481px) {
  .features {
    &__title {
      &--center {
        margin-bottom: 30px;
      }
    }
  }
}
//---------- FEATURES 992px AND UP ----------
@media (min-width: 992px) {
  .features {
    &__title {
      margin-left: 15px;
      &--center {
        display: none;
      }

      &--right {
        display: block;
      }
    }
    &__container {
      margin-top: 65px;
    }
  }
}