//---------- HEADER LESS THAN 480px ----------
.header {
  position: relative;
  height: 614px;
  background-image: url("../img/bg@2x.jpg ");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &-title {
    font-size: 48px;
    color: #FFFFFF;
  }
  &-slogan {
    font-size: 24px;
    color: $lightViolet;
  }
  &-version {
    font-size: 15px;
    color: $lightGrey;
  }
  &-trial-button {
      z-index: 1000;
      position: absolute;
      bottom: -31px;
      right: calc( (100% - 250px ) / 2 );
      display: block;
      white-space: nowrap;
      min-width: 250px;
      max-width: 100%;
      height: 62px;
      line-height: 62px;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      border-radius: 24px;
      background: $lightViolet;
      color: #FFFFFF;
    &:hover {
      text-decoration: none;
      color: #FFFFFF;
    }
  }
  &-trial-description {
    position: absolute;
    bottom: -80px;
    left: 0;
    white-space: nowrap;
    color: $lightGrey;
  }
}

//---------- HEADER 481px AND UP ----------
@media (min-width: 481px) {
  .header {
    height: 682px;
    margin-top: 45px;
    &-title {
      font-size: 64px;
    }
    &-slogan {
      font-size: 32px;
    }
    &-trial-button {
      min-width: 300px;
      right: calc( (100% - 300px ) / 2 );
    }
  }
}

//---------- HEADER 992px AND UP ----------
@media (min-width: 992px) {
  .header {
    height: 700px;
    margin-top: 0;
    &-title {
      font-size: 72px;
    }
    &-slogan {
      font-size: 48px;
    }
    &-version {
      font-size: 24px;
    }
    &-trial-button {
      min-width: 400px;
      right: calc( (100% - 400px ) / 2 );
    }
  }
}
