//---------- NAVBAR LESS THAN 480px ----------
.navbar {
  position: relative;
  min-height: 103px;
  background: $darkGrey;
  &-brand {
    margin-right: 0;
    &-img {
      height: 41px;
    }
    &-text {
      display: none;
      margin-left: 17px;
      color: $lightViolet;
    }
    &:hover {
      .navbar-brand-text {
        color: #FFFFFF;
      }
    }
  }
  &-button {
    white-space: nowrap;
    padding: 12px 24px;
    font-size: 15px;
    border-radius: 24px;
    background: $lightViolet;
    color: #FFFFFF;
    &:hover {
      text-decoration: none;
      background: #FFFFFF;
      color: $lightViolet;
    }
  }
  &-toggler {
    padding: 0;
  }
  &-collapse {
    z-index: 2;
    top: 103px;
    left: 0;
    position: absolute;
    .navbar-nav {
      flex-direction: column;
      margin: 0 15px;
      background: #333333;
    }
    .nav-item {
      padding-top: 15px;
      padding-bottom: 25px;
      box-shadow: 0 1px 1px rgba(255,255,255,.5);
    }
    .nav-link {
      display: inline-block;
      padding-left: 25px;
      font-size: 28px;
      font-weight: lighter;
      color: #FFFFFF;
      border-left: 8px solid transparent;
      transition: all .5s;
      &:hover {
        color: $lightViolet;
        border-left: 8px solid $lightViolet;
      }
    }
  }
}

//---------- NAVBAR 481px AND UP ----------
@media (min-width: 481px) {
  .navbar {
    min-height: 80px;
    &-brand {
      &-text {
        display: inline-block;
      }
    }
    &-collapse {
      top: 64px;
      .navbar-nav {
        flex-direction: row;
        margin: 0;
        padding-bottom: 15px;
        width: 100%;
        background: $darkGrey;
      }
      .nav-item {
        padding: 0;
        box-shadow: none;
      }
      .nav-link {
        font-size: 20px;
        font-weight: normal;
        color: $lightViolet;
        border: none;
        &:hover{
          color: #FFFFFF;
          border: none;
        }
      }
    }
  }
}

//---------- NAVBAR 992px AND UP ----------
@media (min-width: 992px) {
  .navbar {
    min-height: 100px;
    &-collapse {
      position: static;
      .navbar-nav {
        padding-bottom: 0;
      }
    }
  }
}

//---------- NAVBAR LESS THAN 220px ----------
@media (max-width: 220px) {
  .navbar-button {
    display: none;
  }
}