//---------- PRESENT LESS THAN 480px ----------
.present {
  padding-top: 129px;
  padding-bottom: 80px;
  &-title {
    font-size: 30px;
    color: $darkViolet;
    word-wrap: break-word;
  }
  &-description {
    font-size: 15px;
    color: $darkGrey;
  }
  &-buttons {
    .btn-label {
      position: relative;
      left: -12px;
      display: inline-block;
      padding: 4px 10px;
      background: #f2f2f2;
      border-radius: 3px 0 0 3px;
    }
    .btn-labeled {
      margin: 10px 7px;
      padding-top: 0;
      padding-bottom: 0;
      box-shadow: 0 0 1px rgba(0,0,0,.4);
    }
  }
}

//---------- PRESENT 481px AND UP ----------
@media (min-width: 481px) {
  .present {
    &-title {
      font-size: 50px;
    }
    &-description {
      font-size: 18px;
    }
  }
}

//---------- PRESENT 992px AND UP ----------
@media (min-width: 992px) {
  .present {
    &-title {
      font-size: 60px;
    }
    &-description {
      font-size: 20px;
    }
  }
}
