//---------- TERMONIALS LESS THAN 480px ----------
.pricing {
  padding-top: 95px;
  padding-bottom: 25px;
  background-color: #4b3b4e;
  background-image: url("../img/Layer 2@1X.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__title {
    margin-bottom: 56px;
    font-size: 40px;
    color: #FFFFFF;
  }
  &__item {
    margin-bottom: 40px;
    padding: 0 8px;
    color: #FFFFFF;
    &__container {
      position: relative;
      height: 500px;
      background-color: rgba(255, 255, 255, .1);
    }
    &--highlight .pricing__item__container{
      height: 550px;
      background-color: rgba(0, 0, 0, .1);
    }
    &--highlight .pricing__category {
      background-color: rgba(0, 0, 0, .2);
    }
  }
  &__category {
    padding: 30px 0;
    font-size: 24px;
    background-color: rgba(255, 255, 255, .2);
  }
  &__price {
    padding: 30px 0 15px;
    font-size: 64px;
    &::after {
      content: 'per month';
      display: block;
      font-size: 16px;
      font-weight: normal;
      text-transform: uppercase;
      color: #999999;
    }
  }
  &__description {
    font-size: 20px;
    &::before {
      content: '';
      display: block;
      width: 60px;
      height: 5px;
      margin: 0 auto 30px;
      background-color: $lightViolet;
    }
  }
  &__button {
    position: absolute;
    bottom: 40px;
    left: calc(50% - 80px);
    white-space: nowrap;
    width: 160px;
    height: 42px;
    line-height: 42px;
    font-size: 15px;
    border: none;
    border-radius: 24px;
    background: $lightViolet;
    color: #FFFFFF;
    &:hover {
      text-decoration: none;
      color: #FFFFFF;
    }
  }
}

//---------- PRICING 576px AND UP ----------
@media (min-width: 576px) {
  .pricing {
    &__title {
      margin-bottom: 30px;
    }
    &__item {
      margin: 50px 0;
      &--highlight .pricing__item__container{
        height: 600px;
        margin-top: -50px;
      }
    }
  }
}

//---------- PRICING 992px AND UP ----------
@media (min-width: 992px) {
  .pricing {
    &--highlight .pricing__item__container{
      height: 550px;
      margin-top: -25px;
    }
  }
}