//---------- TERMONIALS LESS THAN 480px ----------
.testimonials {
  padding-top: 95px;
  padding-bottom: 25px;
  background-image: url("../img/testmonials-bg@2x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__title {
    margin-bottom: 96px;
    font-size: 40px;
    color: #FFFFFF;
  }
  &__item {
    margin-bottom: 84px;
  }
  &__logo {
    height: 40px;
    &--pixel {
      max-width: 100%;
    }
  }
  &__content {
    margin-top: 20px;
    color: #FFFFFF;
  }
  &__footer {
    display: none;
    font-size: 12px;
    color: #A291A5;
  }
  &__line {
    display: block;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, .1);
  }
}

//---------- PRESENT 481px AND UP ----------
@media (min-width: 481px) {
  .testimonials {
    &__footer {
      display: block;
    }
  }
}