//@import "reset";

$lightViolet: #8d81ac;
$darkViolet: #635c73;
$darkGrey: #27262a;
$lightGrey: #848e97;
$mainGrey: #323232;

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

@import "navbar";
@import "header";
@import "present";
@import "features";
@import "testimonials";
@import "pricing";
